body {
    font-family: 'Montserrat', sans-serif;
}

.contacts-container {
    background: #1e2939;
}

.tech-skills-container {
    background: tomato;
}

.soft-skills-container {
    background: sandybrown;
}