body {
    font-family: 'Montserrat', sans-serif;
}

.contacts-container {
    background: #1e2939;
    width: 400px;
    height: 200px;
    padding-left: 40px;
    padding-top: 40px;
    box-sizing: border-box;
}

.tech-skills-container {
    background: tomato;
    width: 400px;
    height: 300px;
    padding-left: 40px;
    padding-top: 40px;
    box-sizing: border-box;
    margin-top: 40px;
}

.soft-skills-container {
    background: sandybrown;
    width: 400px;
    height: 200px;
   /*padding-left: 40px;
    padding-top: 40px;*/
    padding: 40px;
    box-sizing: border-box;
    margin-top: 40px;
}

.tech-skills-title {
    font-size: 50px;
    font-weight: 200;
}

.tech-skills-item {
    font-size: 40px;
    line-height: 50px;
}