body {
    font-family: 'Montserrat', sans-serif;
}

.contacts-container {
    background: #1e2939;
    width: 400px;
    height: 200px;
    padding-left: 40px;
    padding-top: 40px;
    box-sizing: border-box;
}

.tech-skills-container {
    background: tomato;
    width: 400px;
    padding-left: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    box-sizing: border-box;
    margin-top: 40px;
}

.soft-skills-container {
    background: sandybrown;
    width: 400px;
    height: 200px;
   /*padding-left: 40px;
    padding-top: 40px;*/
    padding: 40px;
    box-sizing: border-box;
    margin-top: 40px;
}

.tech-skills-title {
    font-size: 50px;
    font-weight: 200;
}

.tech-skills-item {
    width: 121px;
    height: 17px;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.main-container {
    background-color: turquoise;
    display: flex;
    flex-direction: row;
    width: 400px; 
}